body
{
  background-color:lightgray;
}
.header_name
{
  background-color: black;
  color: antiquewhite;
  font-size: 50px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  margin-top: -4;
}

.header_name img{
    height: 100px;
    width: 100px;
    padding-top: 5px;
    padding-left: 10px;
}
.footer-home
{
  bottom: 0px;
  background-color: black;
  color: whitesmoke;
  width: 100%;
  text-align: center;
  position:relative;
}
.nav-header
{
    padding-top: 0%;
    margin-top: 0%;
    margin-top: -1;
}
ul {
    list-style-type: none;
    overflow: hidden;
    background-color: rgb(77, 47, 245);
    height: 60px;
    font-size: 20px;
    margin-top: -1;
  }
  
  li {
    float: left;
    font-weight: 700;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    width: fit-content;
  }
  
  li a:hover {
    background-color: rgb(4, 0, 255);
  }
 
  .login-header
  {
    background-color: rgb(243, 246, 250);
    width:fit-content;
    margin-left: 10px;
    height: fit-content;
    padding: 20px;
    margin-left: 30%;
    margin-bottom: 70px;
    border-radius: 10px;
    box-shadow:3px 3px 3px 3px;
  }
  .login-header img
  {
    margin-top: 50px;
    height: 40%;
    width: 40%;
    float: right;
    border-radius: 10px;
  }
  .login-header input
  {
    width: 50%;
    border-radius: 6px;
  }
  .signUp-container
  {
    background-color: rgb(243, 246, 250);
    width:fit-content;
    margin-left: 10px;
    height: fit-content;
    margin-left: 30%;
    padding: 20px; 
    margin-bottom: 70px;
    border-radius: 10px;
    box-shadow:3px 3px 3px 3px;
  }
  .signUp-container img
  {
    margin-top: 80px;
    height: 40%;
    width: 40%;
    float: right;
    border-radius: 10px;
    margin-left: 50px;
  }
  .signUp-container input
  {
    width: 50%;
    border-radius: 6px;
  }
  .footer-login
  {
    bottom: 0px;
    position: relative;
    background-color: black;
    color: whitesmoke;
    width: 100%;
    text-align: center; 
  }

  li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  li a:hover, .brand:hover .dropbtn {
    background-color: blue;
  }
  
li.brand {
  display: inline-block;
}
.brand-content {
  display: none;
  position: absolute;
  background-color: rgb(77, 47, 245);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.brand-content a {
  color: whitesmoke;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.brand-content a:hover {background-color:blue;}

.brand:hover .brand-content {
  display: block;
}
.footer
{
  bottom: 0px;
  background-color: black;
  color: whitesmoke;
  width: 100%;
  text-align: center;
  text-decoration: none;
  
}
.product_image img
{
  width: 25%;
  border-radius: 20px;
  margin-left: 100px;
  margin-bottom: 20px;
  box-shadow: 3px 3px 3px 3px black;
  height: 30%;
  border: 2px solid black;
}
.product_image video
{
  background-color:black;
  width:100% ;
  height:50%;
  margin-top: -10;
  border: 2px solid black;
}
.product_image h1
{
  text-align: center;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.product_image h2
{
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.product_image
{
  margin-left: 20px;
  margin-right: 20px;
  line-height: 25px;
  font-family: arial;
}
